.topbar-btn {
  @apply text-white hover:bg-black/20 hover:shadow-inner p-1 rounded cursor-pointer t-200;
}

.sidebar-btn {
  @apply flex rounded-lg text-white my-2 py-3 px-3 hover:bg-slate-600 cursor-pointer;
}

.custom-text {
  @apply rounded p-1 outline-none w-80 shadow-inner border border-slate-950 focus:scale-105 transition-all duration-200 text-black;
}

.custom-submit {
  @apply bg-blue-500 py-2 px-4 rounded text-white cursor-pointer hover:bg-blue-400 hover:scale-105 transition-all duration-200;
}

.custom-delete {
  @apply bg-red-500 py-2 px-4 rounded text-white cursor-pointer hover:bg-red-400 hover:scale-105 transition-all duration-200;
}

.h-body {
  height: calc(100vh - 3rem);
}

.w-card-content {
  width: calc(100% - 3rem);
}

.t-200 {
  @apply transition-all duration-200;
}

.t-500 {
  @apply transition-all duration-500;
}

.placement-logo {
  left: calc(50% - 2.5rem);
  top: -2.5rem;
}

.disabled-mode {
  @apply opacity-0 pointer-events-none;
}
.disabled-mode-left {
  @apply opacity-0 pointer-events-none -translate-x-72;
}
.disabled-mode-right {
  @apply opacity-0 pointer-events-none translate-x-72;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
